@page
@model WebHost.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";

    var des = "پوهنتون آزاد افغانستان اولین پوهنتون آنلاین در افغانستان است که کورس ها ودروس مختلفی دانشگاهی و غیر دانشگاهی را به صورت Free به شاگردان عزیز ارایه میکنید.";
    ViewData["keywords"] = "Afghanistan Open University، کورس های آنلاین، پوهنتون برای دختران، پوهتون، دانشگاه آزاد افغانستان";
    ViewData["description"] = des;
    ViewData["ogDescription"] = des;
    ViewData["twitterDescription"] = des;
    ViewData["canonical"] = $"https://afgou.org";
    ViewData["ogType"] = "product";
    ViewData["ogTitle"] = " درباره Afghanistan Open University";
    ViewData["ogImage"] = "https://afgou.org/Theme/img/general/mainLogo.svg";
    ViewData["twitterImage"] = "https://afgou.org/Theme/img/general/mainLogo.svg";
    ViewData["ogUrl"] = $"https://afgou.org";
    ViewData["twitterTitle"] = " درباره Afghanistan Open University";
    ViewData["twitterSite"] = $"https://afgou.org";
    ViewData["author"] = "نوید احساس";
}

<section data-anim="fade" class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="breadcrumbs__content">
                    <div class="breadcrumbs__item">
                        <a asp-page="/Index">Home</a>
                    </div>
                    <div class="breadcrumbs__item">
                        <a href="#">About Us</a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-header -type-1">
    <div class="container">
        <div class="page-header__content">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div data-anim="slide-up delay-1">
                        <h1 class="page-header__title">About Us</h1>
                    </div>
                    <div data-anim="slide-up delay-2">
                        <p class="page-header__text">A free educational platform dedicated to Afghan youth with a commitment to superior quality.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="layout-pt-md layout-pb-lg" dir="ltr">
    <div class="container">
        <div class="row y-gap-20 justify-center ">
            <div class="col-auto">

                <div class="sectionTitle ">

                    <h2 class="sectionTitle__title ">About Afghanistan Open University</h2>
   <p class="sectionTitle__text ">

                        Introducing Afghanistan Open University-Organization, we are a tuition-free online organization committed to providing high-quality education in international standards to Afghan boys and girls. Currently, we have an impressive enrollment of over 20,000+ students in 35-45 active classes, and we indirectly impact the lives of approximately 200,000 students.

                        Our AOUO boasts a team of 3-6 teachers per class, ensuring personalized attention and guidance for each student. We believe in fostering a supportive environment that nurtures their intellectual growth and overall development.

                        At AOUO, we have revolutionized the learning experience by offering self-paced courses on international platforms. We provide our students access to an extensive collection of over 20,000 diverse courses, all free of cost. This empowers our students to explore a wide range of subjects and enhance their knowledge and skills at their own pace.

                        We are dedicated to providing comprehensive resources for our students. With two well-equipped libraries, one with a membership of 155,000 and the other with 80,000, our students have instant access to a wealth of books covering various topics. This allows them to engage in research and expand their horizons within minutes.

                        At our organization, we understand the importance of preparing our students for successful careers. Hence, we have a career center where we share job announcements, duties, and information about free scholarships. We believe in shaping our students' futures by equipping them with the necessary tools and opportunities for professional growth.

                        To further enrich the educational experience, we regularly organize seminars on a wide range of educational and relevant topics. These seminars serve as platforms for knowledge exchange and inspire our students to think critically and engage with important issues.

                        Our objective and strategic vision for the future is to promptly establish the AOUO as a prestigious institution, serving as the first tuition-free university in Afghanistan.

                        In conclusion, Afghanistan Open University is a beacon of education, providing Afghan boys and girls access to high-quality, tuition-free education aligned with international standards. With our dedicated teachers, vast course offerings, comprehensive libraries, career center support, and enriching seminars, we strive to empower our students to become global citizens and make meaningful contributions to their communities.
                    </p>

                </div>

            </div>
        </div>

    </div>
</section>



<section class="layout-pt-md  sahel-font" dir="rtl">
    <div data-anim-wrap class="container">
        <div class="row y-gap-50 justify-between ">
            <div class="col-lg-6 pr-50 sm:pr-15 ">
                <h2 class="text-30 lh-16 ff-estedad">د افغانستان د پرانیستی پوهنتون د ټولنې پیژندګلوي</h2>
                <p class="sahel-font aboutUs-text pb-50">
                   
                    یاد پوهنتون چې د افغانستان د پرانیستی پوهنتون تر نامه لاندې خپل فعالیتونه ترسره کوي، اوس مهال افغان هلکان او نجونو ته په نړیوالو معیارونو کې د لوړ کیفیت زده کړې چمتو کولو ته ژمن دې. موږ په 35-45 فعالو ټولګیو کې د 20,000+ څخه زیاتو زده کونکو ته اغیزمن نوم لیکنه لرو، او موږ په غیر مستقیم ډول د نږدې 200,000 زده کونکو ته د نوم لیکنې پروسه لرو.
                    زموږ AOUO په هر ټولګي کې د 3-6 ښوونکو ټیم لري، چې د هر زده کونکي لپاره شخصي پاملرنه او لارښوونې تضمینوي. موږ د یو ملاتړلی چاپیریال په رامینځته کولو باور لرو چې د دوی فکري وده او ټولیز پرمختګ ته وده ورکوي.
                    په AOUO کې، موږ په نړیوالو پلیټ فارمونو کې د کورسونو وړاندیز کولو سره د زده کړې تجربه کې بدلون راوستی دی. موږ خپلو زده کونکو ته د 20,000 څخه زیاتو مختلفو کورسونو کې په پراخه ټولګه  لاسرسی چمتو کوو ، چې ټول وړیا دي. دا زموږ زده کونکو ته ځواک ورکوي چې د مضمونونو پراخه لړۍ وڅیړي او د دوی پوهه او مهارتونه په خپل سرعت لوړ کړي.
                    موږ خپلو زده کونکو لپاره هراړخیز سرچینې چمتو کولو ته ګمارل شوي یو. د دوو مجهز کتابتونونو سره، چې یو یې  د 155,000 غړو درلودونکی ده او بل یې د  80,000 غړو درلودونکی ده، زموږ زده کونکي مختلفو موضوعاتو ته ښه پوښښ او کتابونو ته چټک لاسرسی لري. دا دوی ته اجازه ورکوي چې په څیړنه کې ښکیل شي او په کم وخت  کې خپل د معلوماتو لړۍ پراخه کړي.
                    زموږ په مجتمع کې، موږ د بریالي کیریر لپاره د زده کونکو چمتو کولو ته اهمیت ورکوو.
                    له همدې امله، موږ مسلکي مرکز هم لرو چې  زموږ سوداګریز اعلانونه، دندې، او د وړیا بورسونو په اړه معلومات شریکوي. موږ د مسلکي ودې لپاره د اړینو وسیلو او فرصتونو په سمبالولو سره د خپلو زده کونکو راتلونکی په جوړولو باور لرو.
                    د تعلیمي تجربې د لا بډایه کولو لپاره، موږ په منظمه توګه د پراخو تعلیمي او اړوندو موضوعاتو په اړه سیمینارونه تنظیم کوو. دا سیمینارونه د پوهې تبادلې لپاره د پلیټ فارم په توګه کار کوي او زموږ زده کونکي هڅوي چې انتقادي فکر وکړي او په مهمو مسلو کې ښکیل شي.
                    د راتلونکي لپاره زموږ هدف او ستراتیژیک لید د AOUO په سمدستي توګه د یوې معتبرې ادارې په توګه رامینځته کول دي چې په افغانستان کې د لومړي زده کړې وړ پوهنتون په توګه خدمت کوي.
                    په پایله کې، د افغانستان پرانیستی پوهنتون د زده کړې یو څراغ دی، چې افغان هلکانو او نجونو ته د نړیوالو معیارونو سره سم لوړ کیفیت لرونکي، وړیا زده کړې ته لاسرسی برابروي. زموږ د ګمارل شوي ښوونکو، پراخ کورسونو وړاندیزونو، جامع کتابتونونو، د مسلک مرکز مالتړ، او بډایه سیمینارونو سره، موږ هڅه کوو چې زموږ زده کونکي ځواکمن شي چې نړیوال ولس شي او د دوی ټولنو کې د پام وړ مرستې وکړي.

                </p>
            </div>

            <div class="col-lg-5  sahel-font" dir="rtl">
                <h2 class="text-30 lh-16 ff-estedad">در باره پوهنتون آزاد افغانستان</h2>
                <p class="sahel-font aboutUs-text">
                    معرفی مجتمع  پوهنتون آزاد افغانستان.
                    پوهنتون آزاد آفغانستان اولین پوهنتون کاملآ Free در افغانستان میباشد که تحت اسم مجتمع آزاد آفغانستان فعالیت های خود را در بخش های ذیل به پیش میبرد
                    ما یک پوهنتون آنلاین بدون هزینه هستیم که متعهد به ارائه آموزش با کیفیت بالا در استانداردهای بین المللی برای دختران و پسران افغان هستیم.
                    در حال حاضر، بیش از( 20000) دانش آموز در( 35-45) صنف فعال ثبت نام کرده اند.
                    ما به طور غیرمستقیم بر زندگی حدود (200000) دانش آموز تأثیر می گذاریم.
                    (AOUO )ما دارای تیمی متشکل از 3-6استاید در هر صنف درسي  هستیم  که توجه  راهنمایی شخصی را برای هر دانش آموز تضمین می کنند.
                    ما به ایجاد یک محیط حمایتی که رشد فکری و توسعه کلی آنها را  پرورش می دهد
                    ما در (AOUO) با ارائه دوره های  آموزشی و ورکشاپ  های بین المللی تغیر ایجاد  کرده ایم.
                    ما به دانشجویان خود اجازه دسترسی به مجموعه گسترده ای بیش از  20000 دوره های  متنوع و Free  را فراهم می کنیم
                    این به دانش آموزان ما امکان این  را می دهد که بخش های  گسترده ای  موضوعات را کشف کنند و دانش و مهارت های خود را با سرعت زیاد افزایش دهند.
                    ما  منابع جامع را  برای دانش آموزان خود با دو کتابخانه مجهز، یکی با عضویت (155000) نفر و دیگری با (80000) عضو، اختصاص داده ایم دانشجویان  به انبوهی از کتاب‌ها با موضوعات مختلف دسترسی دارند.
                    این به آنها کمک  میکند تا در عرض چند دقیقه درگیر تحقیق و گسترش افق های خود باشند.
                    در مجتمع پوهنتون آزاد افغانستان، ما اهمیت آماده سازی دانش آموزان خود را برای وظیفه موفق درک می کنیم.
                    به همین دلیل یک مرکز کاریابی ایجاد کردیم که در آن اطلاعیه های کاری وظایف و اطلاعات مربوط به بورسیه های Free را به اشتراک می گذاریم.
                    ما معتقدیم که آینده دانش آموزان خود را با تجهیز  ابزارها و فرصت های لازم به آنها  برای رشد حرفه ای شکل می دهیم.
                    برای غنی سازی بیشتر تجربه آموزشی، ما به طور منظم سمینارها را در مورد موضوعات گسترده ای  آموزشی و مرتبط به آن  سازماندهی می کنیم.
                    این سمینارها به عنوان  محل تبادل دانش عمل می کنند و دانشجویان ما را به تفکر انتقادی و تعامل با موضوعات مهم ترغیب می کنند.
                    هدف و چشم انداز استراتژیک ما برای آینده ایجاد سریع (AOUO) به عنوان یک نهاد معتبر  این است که به عنوان اولین پوهنتون بدون هزینه در افغانستان خدمت کنیم.
                    در خاتمه،مجتمع  پوهنتون آزاد افغانستان یک چراغ آموزش است که امکان دسترسی دختران و پسران افغان را به آموزش با کیفیت بالا و بدون هزینه مطابق با استانداردهای بین المللی فراهم می کند.
                    ما با معلمان اختصاصی خود ارائه‌ دوره‌های گسترده، کتابخانه‌های جامع، پشتیبانی از مرکز کاری و سمینارهای غنی تلاش می‌کنیم تا دانش‌آموزان خود را برای تبدیل شدن به شهروندان جهانی و کمک‌های اشخاص مفید  به جامعه  خود همکاری  کنیم

                </p>
            </div>
        </div>
    </div>
</section>

<br/>
<br/>

