@model AccountManagement.Application.Contract.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_Layout";
}
<link href="~/admintheme/assets/css/loading.css" rel="stylesheet" />
<div id="loader" class="lds-dual-ring hidden overlay"></div>

<div class="row" style="margin-top: 10%" id="register-content">
    <div class="col col-md-12" id="login-content">
        <div class="form-page__content" style="width:100% !important">
            <div class="container">
                <div class="row justify-center items-center">
                    <div class="col-xl-5 col-lg-5 col-sm-12 col-md-6">
                        <div class="px-50 py-50 md:px-25 md:py-25 bg-white shadow-1 rounded-16 pe-lg-5">
                            <h3 class="text-30 lh-13 text-center items-center">Password Recovery</h3>
                            <form class="contact-form respondForm__form row y-gap-20 pt-30" name="submitForm" method="post">
                                <div class="col-12">
                                    <label class="text-16 lh-2 fw-500 text-dark-1 mb-10">Enter the email you used for registration</label>
                                    <input type="email" asp-for="Email" placeholder="email..." required="">
                                    <span asp-validation-for="Email" class="text-error-2"></span>
                                </div>
                                <input type="hidden" name="returnUrl" value="" />
                                <div class="col-12">
                                    <button type="button" name="submit" id="submit" class="button -md -dark-1 text-white fw-500 w-1/1">
                                        Submit
                                    </button>
                                </div>
                            </form>

                            <div class="lh-12 text-dark-1 fw-500 text-center mt-20">
                                <a asp-page="/Login" id="forgotPassword" class="text-dark-1">
                                    Login
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
    {
    <script>

        $("#submit").on('click', function () {
           
            $.ajax({
                url: '/login?handler=ForgotPassword',
                data: new FormData(document.forms.submitForm),
                contentType: false,
                processData: false,
                type: 'POST',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                beforeSend: function () {
                    $('#loader').removeClass('hidden')
                },
                success: function (result) {

                    if (result.isSucceeded) {
                        swal({
                            title: "Done!",
                            text: result.message,
                            type: "success",
                            confirmButtonText: "Ok!",
                            closeOnConfirm: true
                        }, function () {
                            window.location.href = "/Login";
                        });
                    }
                    else {
                        notify("top right", result.message, "error");

                    }
                },
                complete: function () {
                    $('#loader').addClass('hidden')
                },
            })
        })

    </script>
                                }
