@model CommentManagement.Application.Contract.HomePhoto.SliderViewModel
@{
    ViewData["Title"] = "ایجاد متن اسلایدر";
    Layout = "Shared/_AdminLayout";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد متن صفحه اصلی</h4>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-page="Index" asp-page-handler="Create">
            <div class="panel panel-default">
                <partial name="Shared/_Create_View_Header" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">متن بزرگ<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="Title" placeholder="حد اکثر 45 کاراکتر">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ShortTitle" class="control-label">متن کوچک<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="ShortTitle" maxlength="120" placeholder="حداکثر 128 کاراکتر">
                            <span class="text-danger" asp-validation-for="ShortTitle"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
