<div class="col-md-12">
    <div class="portlet">
        <div class="portlet-heading bg-primary">
            <h3 class="portlet-title">
                راهنمای آپلود تصویر
            </h3>
            <div class="portlet-widgets">
                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                <span class="divider"></span>
                <a data-toggle="collapse" data-parent="#accordion1" href="#bg-primary"><i class="ion-minus-round"></i></a>
                <span class="divider"></span>
                <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="bg-primary" class="panel-collapse collapse in">
            <div class="portlet-body">
                1- با استفاده از Paint کامپیوتر خود ویا سایر ابزار ها عکس را مطابق
                استاندارد گفته شده Resize کنید.
                <br/>
                2- در <a href="https://compressor.io/" class="text-danger link" target="_blank" rel="nofollow">این سایت</a> رفته و عکس را کامپریس ( فشرده ) کنید
                               
                .<br/>
                3- بعد از فشرده سازی و Resize عکس ، حجم آن باید کمتر یا برابر با حجم باشد که زیر کادر عکس یادداشت شده است.
            </div>
        </div>
    </div>
</div>