@page
@model WebHost.Areas.UserPanel.Pages.MyCourseModel
@{
    ViewData["Title"] = "My Courses";
    Layout = "Shared/_UserPanelLayout";
}
<div class="dashboard__main">
    <div class="dashboard__content bg-light-4">
        <div class="row pb-50 mb-10">
            <div class="col-auto">
                <h1 class="text-24 lh-12 fw-700 ff-estedad">Course List</h1>
                <div class="mt-10">Explore a variety of courses designed to meet your learning needs and interests.</div>
            </div>
        </div>
        <div class="row y-gap-30">
            <div class="col-12">
                <div class="rounded-16 bg-white -dark-bg-dark-1 shadow-4 h-100">
                    <div class="tabs -active-purple-2 js-tabs">
                        <div class="tabs__content py-30 px-30 js-tabs-content">
                            <div class="tabs__pane -tab-item-1 is-active">
                                <div class="row y-gap-30 pt-30">

                                    @foreach (var item in Model.List)
                                    {
                                        <div class="w-1/5 xl:w-1/3 lg:w-1/2 sm:w-1/1">
                                            <div class="relative">
                                                <img class="rounded-8 w-1/1" src="~/FileUploader/@item.CourseImg" alt="image">
                                                <button class="absolute-button" data-el-toggle=".js-more-1-toggle">
                                                    <span class="d-flex items-center justify-center size-35 bg-white shadow-1 rounded-8">
                                                        <i class="icon-menu-vertical"></i>
                                                    </span>
                                                </button>

                                                <div class="toggle-element -dshb-more js-more-1-toggle">
                                                    <div class="px-25 py-25 bg-white -dark-bg-dark-2 shadow-1 border-light rounded-8">
                                                        <a asp-page="/CourseDetails" asp-route-id="@item.CourseSlug" asp-area="" class="d-flex items-center">
                                                            <div class="icon-share"></div>
                                                            <div class="text-15 lh-2 fw-500 mr-12">View Course</div>
                                                        </a>

                                                        <a href="#" class="d-flex items-center mt-20">
                                                            <div class="icon-bookmark"></div>
                                                            <div class="text-15 lh-2 fw-500 mr-12">Favorite</div>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="pt-15">
                                                <h3 class="text-16 fw-500 lh-15 mt-10">@item.CourseName </h3>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tabs__pane -tab-item-2"></div>
                            <div class="tabs__pane -tab-item-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
