
@model AccountManagement.Application.Contract.City.EditCity
<div class="container">
    <form asp-page="./City" asp-page-handler="Edit"
          method="post"
          data-ajax="true"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="City" class="control-label">نام شهر <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="City" placeholder="نام شهر">
                        <span class="text-danger" asp-validation-for="City"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProvinceId" class="control-label"> ولایت</label>
                        <select asp-for="ProvinceId" type="text" class="form-control" asp-items="@(new SelectList(Model.ProvinceList,"Id","Name"))" placeholder=""></select>
                        <span class="text-danger" asp-validation-for="ProvinceId"></span>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id"/>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
        </div>
    </form>
</div>
